{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="container">

        <a class="nav-link text-primary mx-3" href="{{ path('app_cart') }}">Cart</a>

        <h1>Product index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>QrCode</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        {% set qrCode = product.qrcode %}
                        <img src="{{ qrCode }}" width="100px" />
                    </td>

                    <td>
                        <a href="{{ path('app_product_show', {'id': product.id}) }}" class="btn btn-primary">show</a>
                        <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn btn-outline-primary" >edit</a>
                        <a href="{{ path('addtocart', {id: product.id, quantity: 1}) }}" class="btn btn-info ms-5" >Add to cart</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_product_new') }}" class="btn btn-success">Create new</a>

    </div>

{% endblock %}
